<div align="center">
  <h3 mat-dialog-title>Client Adder</h3>
  <div mat-dialog-content>
    <form [formGroup]="addForm">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="..." formControlName="name">
        <mat-icon matSuffix>assignment_ind</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput placeholder="City/Street" formControlName="address">
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Age</mat-label>
        <input matInput placeholder="16+" formControlName="age">
        <mat-icon matSuffix>calendar_today</mat-icon>
      </mat-form-field>
      <button mat-raised-button (click)="add()" [disabled]="addForm.invalid" color="primary">Add</button>
    </form>
    <br>
  </div>
</div>
