<mat-tab-group mat-align-tabs="center">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">face</mat-icon>
      Clients
    </ng-template>
    <app-clients-list></app-clients-list>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">movie</mat-icon>
      Movies
    </ng-template>
    <app-movies-list></app-movies-list>
  </mat-tab>
</mat-tab-group>
