<div align="center">
  <h3 mat-dialog-title>Available Movies</h3>
  <div mat-dialog-content>
    <mat-list role="list" *ngFor="let movie of movies">
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <table>
          <tr>
            <td>
              {{movie.title}} | {{movie.category}} |{{movie.rating}}
            </td>
            <td>
              <mat-chip-list aria-label="Fish selection">
                <mat-chip color="primary" (click)="rentMovie(movie)" selected>Rent</mat-chip>
              </mat-chip-list>
            </td>
          </tr>
        </table>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    <button mat-raised-button color="primary" (click)="close()">Close</button>
  </div>
</div>
