<div align="center">
  <br>
  <mat-accordion class="headers-align">
    <div *ngFor="let movie of movies">
      <mat-expansion-panel style="width: 45%">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{movie.title}}
          </mat-panel-title>
          <mat-panel-description>
            Category: {{movie.category}}
            <br>
            Rating: {{movie.rating}}
            <mat-icon>movie</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div align="right">
          <button mat-raised-button (click)="update(movie)" color="primary" style="margin-right: 10px">Update</button>
          <button mat-raised-button (click)="delete(movie)" color="warn">Delete</button>
        </div>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
  <br>
  <button mat-raised-button (click)="add()" color="primary">Add</button>
  <br>
</div>
