<div align="center">
  <h3 mat-dialog-title>Client Editor</h3>
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="{{data.client.name}}" #name>
      <mat-icon matSuffix>assignment_ind</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Address</mat-label>
      <input matInput placeholder="{{data.client.address}}" #address>
      <mat-icon matSuffix>home</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Age</mat-label>
      <input matInput placeholder="{{data.client.age}}" #age>
      <mat-icon matSuffix>calendar_today</mat-icon>
    </mat-form-field>
    <br>
    <button mat-raised-button (click)="update(name.value, address.value, age.value)" color="primary">Update</button>
  </div>
</div>
