<div align="center">
  <h3 mat-dialog-title>Movie Editor</h3>
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput placeholder="{{this.data.movie.title}}" #title>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <input matInput placeholder="{{this.data.movie.category}}" #category>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Rating</mat-label>
      <input matInput placeholder="{{this.data.movie.rating}}" #rating>
    </mat-form-field>
    <br>
    <button mat-raised-button (click)="update(title.value, category.value, rating.value)" color="primary">Update</button>
  </div>
</div>
