<div align="center">
  <h3 mat-dialog-title>Movie Adder</h3>
  <div mat-dialog-content>
    <form [formGroup]="addForm">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput placeholder="..." formControlName="title">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <input matInput placeholder="..." formControlName="category">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Rating</mat-label>
        <input matInput placeholder="0+" formControlName="rating">
      </mat-form-field>
      <button mat-raised-button (click)="add()" [disabled]="addForm.invalid" color="primary">Add</button>
    </form>
    <br>
  </div>
</div>
