<div align="center">
  <br>
  <table style="width: 60%">
    <tr>
      <td width="90%">
        <mat-form-field class="full-width">
          <input type="text"
                 placeholder="Search..."
                 aria-label="Number"
                 matInput
                 [formControl]="searchControl"
                 [matAutocomplete]="auto" #name>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </td>
      <td style="padding-left: 10px">
        <button mat-raised-button color="primary" (click)="filter(name.value)"><mat-icon>search</mat-icon></button>
      </td>
    </tr>
  </table>
  <mat-accordion  class="headers-align" >
    <div *ngFor="let client of clients">
      <mat-expansion-panel style="width: 45%" (opened)="fetchMovies(client)">
        <mat-expansion-panel-header >
          <mat-panel-title>
            {{client.name}}
          </mat-panel-title>
          <mat-panel-description>
            Address: {{client.address}}
            <br>
            Age: {{client.age}}
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list role="list" *ngFor="let movie of clientWithMovies.rentedMovies">
          <mat-divider></mat-divider>
          <mat-list-item role="listitem">{{movie.title}} | {{movie.rating}}</mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>

        <div align="right" style="margin-top: 10px">
          <button mat-raised-button (click)="rentMovies()" color="primary" style="margin-right: 10px">Rent Movies</button>
          <button mat-raised-button (click)="update(client)" color="primary" style="margin-right: 10px">Update</button>
        <button mat-raised-button (click)="delete(client)" color="warn">Delete</button>
        </div>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
  <br>
  <button mat-raised-button (click)="add()" color="primary">Add</button>
  <br>
</div>

